In [2]:
# Mount the drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd /content/drive/My Drive/Colab Notebooks/

/content/drive/My Drive/Colab Notebooks

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/final_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
data

        Unnamed: 0  ...            label
0                0  ...  princetonCerber
1                1  ...   princetonLocky
2                2  ...  princetonCerber
3                3  ...  princetonCerber
4                4  ...   princetonLocky
...            ...  ...              ...
315195      315195  ...               28
315196      315196  ...               28
315197      315197  ...               28
315198      315198  ...               28
315199      315199  ...               28

[315200 rows x 11 columns]

In [6]:
data = data.drop(['address','Unnamed: 0'],axis = 1)

In [7]:
data

        year  day  length  ...  neighbors        income            label
0       2017   11      18  ...          2  1.000500e+08  princetonCerber
1       2016  132      44  ...          1  1.000000e+08   princetonLocky
2       2016  246       0  ...          2  2.000000e+08  princetonCerber
3       2016  322      72  ...          2  7.120000e+07  princetonCerber
4       2016  238     144  ...          1  2.000000e+08   princetonLocky
...      ...  ...     ...  ...        ...           ...              ...
315195  2018  330       0  ...          2  2.503180e+09               28
315196  2018  330       0  ...          2  1.000000e+09               28
315197  2018  330       6  ...          1  3.000000e+08               28
315198  2018  330       0  ...          2  1.372746e+09               28
315199  2018  330       6  ...          2  2.397816e+09               28

[315200 rows x 9 columns]

In [8]:
data['label']

0         princetonCerber
1          princetonLocky
2         princetonCerber
3         princetonCerber
4          princetonLocky
               ...
315195                 28
315196                 28
315197                 28
315198                 28
315199                 28
Name: label, Length: 315200, dtype: object

In [9]:
data["label"]= data["label"].replace(28, "white")

In [10]:
data["label"]= data["label"].replace('28', "white")

In [11]:
data.label.unique()

array(['princetonCerber', 'princetonLocky', 'montrealCryptoLocker',
       'montrealCryptXXX', 'paduaCryptoWall', 'montrealWannaCry',
       'montrealDMALockerv3', 'montrealCryptoTorLocker2015',
       'montrealSamSam', 'montrealFlyper', 'montrealNoobCrypt',
       'montrealDMALocker', 'montrealGlobe', 'montrealEDA2',
       'paduaKeRanger', 'montrealVenusLocker', 'montrealXTPLocker',
       'paduaJigsaw', 'montrealGlobev3', 'montrealJigSaw',
       'montrealXLockerv5.0', 'montrealXLocker', 'montrealRazy',
       'montrealCryptConsole', 'montrealGlobeImposter', 'montrealSam',
       'montrealComradeCircle', 'montrealAPT', 'white'], dtype=object)

In [12]:
data

        year  day  length  ...  neighbors        income            label
0       2017   11      18  ...          2  1.000500e+08  princetonCerber
1       2016  132      44  ...          1  1.000000e+08   princetonLocky
2       2016  246       0  ...          2  2.000000e+08  princetonCerber
3       2016  322      72  ...          2  7.120000e+07  princetonCerber
4       2016  238     144  ...          1  2.000000e+08   princetonLocky
...      ...  ...     ...  ...        ...           ...              ...
315195  2018  330       0  ...          2  2.503180e+09            white
315196  2018  330       0  ...          2  1.000000e+09            white
315197  2018  330       6  ...          1  3.000000e+08            white
315198  2018  330       0  ...          2  1.372746e+09            white
315199  2018  330       6  ...          2  2.397816e+09            white

[315200 rows x 9 columns]

In [13]:
data.label.value_counts()

white                          232374
paduaCryptoWall                 24780
montrealCryptoLocker            18630
princetonCerber                 18446
princetonLocky                  13250
montrealCryptXXX                 4838
montrealNoobCrypt                 966
montrealDMALockerv3               708
montrealDMALocker                 502
montrealSamSam                    124
montrealCryptoTorLocker2015       110
montrealGlobeImposter             110
montrealGlobev3                    68
montrealGlobe                      64
montrealWannaCry                   56
montrealRazy                       26
montrealAPT                        22
paduaKeRanger                      20
montrealFlyper                     18
montrealXTPLocker                  16
montrealVenusLocker                14
montrealCryptConsole               14
montrealXLockerv5.0                14
montrealEDA2                       12
montrealJigSaw                      8
paduaJigsaw                         4
montrealXLocker                     2
montrealComradeCircle               2
montrealSam                         2
Name: label, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['label'] = le.fit_transform(data['label'])
data['label'].unique()

array([26, 27,  4,  3, 23, 19,  7,  5, 17,  9, 14,  6, 10,  8, 25, 18, 22,
       24, 12, 13, 21, 20, 15,  2, 11, 16,  1,  0, 28])

In [15]:
le.classes_

array(['montrealAPT', 'montrealComradeCircle', 'montrealCryptConsole',
       'montrealCryptXXX', 'montrealCryptoLocker',
       'montrealCryptoTorLocker2015', 'montrealDMALocker',
       'montrealDMALockerv3', 'montrealEDA2', 'montrealFlyper',
       'montrealGlobe', 'montrealGlobeImposter', 'montrealGlobev3',
       'montrealJigSaw', 'montrealNoobCrypt', 'montrealRazy',
       'montrealSam', 'montrealSamSam', 'montrealVenusLocker',
       'montrealWannaCry', 'montrealXLocker', 'montrealXLockerv5.0',
       'montrealXTPLocker', 'paduaCryptoWall', 'paduaJigsaw',
       'paduaKeRanger', 'princetonCerber', 'princetonLocky', 'white'],
      dtype=object)

In [16]:
X = data.loc[:, data.columns != 'label']
y = data['label']

In [17]:
print(X)

        year  day  length    weight  count  looped  neighbors        income
0       2017   11      18  0.008333      1       0          2  1.000500e+08
1       2016  132      44  0.000244      1       0          1  1.000000e+08
2       2016  246       0  1.000000      1       0          2  2.000000e+08
3       2016  322      72  0.003906      1       0          2  7.120000e+07
4       2016  238     144  0.072848    456       0          1  2.000000e+08
...      ...  ...     ...       ...    ...     ...        ...           ...
315195  2018  330       0  0.111111      1       0          2  2.503180e+09
315196  2018  330       0  0.500000      1       0          2  1.000000e+09
315197  2018  330       6  0.020092      2       0          1  3.000000e+08
315198  2018  330       0  0.333333      1       0          2  1.372746e+09
315199  2018  330       6  1.000000      1       0          2  2.397816e+09

[315200 rows x 8 columns]

In [18]:
print(y)

0         26
1         27
2         26
3         26
4         27
          ..
315195    28
315196    28
315197    28
315198    28
315199    28
Name: label, Length: 315200, dtype: int64

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [20]:
print(X)

[[ 1.16855767 -1.65291969 -0.44401279 ... -0.23098257 -0.01326959
  -0.02212009]
 [ 0.68743984 -0.46555324 -0.00258537 ... -0.23098257 -0.12666455
  -0.02212043]
 [ 0.68743984  0.65312259 -0.74961638 ... -0.23098257 -0.01326959
  -0.02144322]
 ...
 [ 1.6496755   1.47741004 -0.64774852 ... -0.23098257 -0.12666455
  -0.02076601]
 [ 1.6496755   1.47741004 -0.74961638 ... -0.23098257 -0.01326959
  -0.01350126]
 [ 1.6496755   1.47741004 -0.64774852 ... -0.23098257 -0.01326959
  -0.00655938]]

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2, random_state = 1,stratify = y)

In [22]:
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

252160
63040
252160
63040

In [23]:
from xgboost import XGBClassifier

model = XGBClassifier()
# Add silent=True to avoid printing out updates with each cycle
model.fit(X_train, y_train, verbose=2)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [24]:

# make predictions
predictions = model.predict(X_test)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_test)))

Mean Absolute Error : 1.4616909898477157

In [25]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, predictions)
print(acc)

0.8742861675126904

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV,StratifiedKFold

xgb_model = XGBClassifier()

parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'learning_rate': [0.7], #so called `eta` value
              'max_depth': [6],
              'min_child_weight': [11],
              'silent': [1],
              'subsample': [0.8],
              'colsample_bytree': [0.7],
              'tree_method' : ['gpu_hist'],
              'n_estimators': [1750,1850,1900],  #number of trees, change it to 1000 for better results
              'seed': [1337]}


clf = GridSearchCV(xgb_model, parameters, n_jobs = -1,
                   cv=StratifiedKFold(n_splits=3), 
                   scoring='accuracy',
                   verbose=2, refit=True)

clf.fit(X,y)

Fitting 3 folds for each of 3 candidates, totalling 9 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed: 57.5min finished

GridSearchCV(cv=StratifiedKFold(n_splits=3, random_state=None, shuffle=False),
             error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:...
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=-1,
             param_grid={'colsample_bytree': [0.7], 'learning_rate': [0.7],
                         'max_depth': [6], 'min_child_weight': [11],
                         'n_estimators': [1750, 1850, 1900], 'nthread': [4],
                         'seed': [1337], 'silent': [1], 'subsample': [0.8],
                         'tree_method': ['gpu_hist']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=2)

In [ ]:
print(clf.best_score_)
print(clf.best_params_)

0.2776047671224962
{'colsample_bytree': 0.7, 'learning_rate': 0.7, 'max_depth': 6, 'min_child_weight': 11, 'n_estimators': 1850, 'nthread': 4, 'seed': 1337, 'silent': 1, 'subsample': 0.8, 'tree_method': 'gpu_hist'}

In [25]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV,StratifiedKFold

xgb_model = XGBClassifier()

parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'learning_rate': [0.7], #so called `eta` value
              'max_depth': [6,7],
              'min_child_weight': [11,12],
              'silent': [1],
              'subsample': [0.8,0.9],
              'colsample_bytree': [0.7],
              'tree_method' : ['gpu_hist'],
              'n_estimators': [1850],  #number of trees, change it to 1000 for better results
              'seed': [1337]}


clf = GridSearchCV(xgb_model, parameters, n_jobs = -1,
                   cv=StratifiedKFold(n_splits=3), 
                   scoring='accuracy',
                   verbose=2, refit=True)

clf.fit(X,y)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed: 156.4min finished

GridSearchCV(cv=StratifiedKFold(n_splits=3, random_state=None, shuffle=False),
             error_score=nan,
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=None, objective='binary:...
                                     subsample=1, verbosity=1),
             iid='deprecated', n_jobs=-1,
             param_grid={'colsample_bytree': [0.7], 'learning_rate': [0.7],
                         'max_depth': [6, 7], 'min_child_weight': [11, 12],
                         'n_estimators': [1850], 'nthread': [4], 'seed': [1337],
                         'silent': [1], 'subsample': [0.8, 0.9],
                         'tree_method': ['gpu_hist']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=2)

In [26]:
print(clf.best_score_)
print(clf.best_params_)

0.28224302860410017
{'colsample_bytree': 0.7, 'learning_rate': 0.7, 'max_depth': 7, 'min_child_weight': 12, 'n_estimators': 1850, 'nthread': 4, 'seed': 1337, 'silent': 1, 'subsample': 0.9, 'tree_method': 'gpu_hist'}

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV,StratifiedKFold

xgb_model = XGBClassifier()


parameters = {'nthread':[4], #when use hyperthread, xgboost may become slower
              'learning_rate': [0.7], #so called `eta` value
              'max_depth': [6,7],
              'min_child_weight': [15,16],
              'silent': [1],
              'subsample': [0.9,1],
              'colsample_bytree': [0.7],
              'tree_method' : ['gpu_hist'],
              'n_estimators': [1850],  #number of trees, change it to 1000 for better results
              'seed': [1337]}


clf = GridSearchCV(xgb_model, parameters, n_jobs = -1,
                   cv=StratifiedKFold(n_splits=3), 
                   scoring='accuracy',
                   verbose=2, refit=True)

clf.fit(X,y)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

In [ ]:
print(clf.best_score_)
print(clf.best_params_)