In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('/content/drive/My Drive/Bitcoin Heist/BitcoinHeistData.csv')
data = data.sort_values(['year', 'day'], ascending=[True, True])

In [4]:
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
data['label']= label_encoder.fit_transform(data['label']) 
  
data['label'].unique()

array([28,  4, 15, 14, 23, 11,  5,  6, 17, 27, 26, 25,  8, 24, 22,  3, 13,
        7,  0, 10, 12, 16,  1,  9, 18, 21,  2, 19, 20])

In [5]:
data.head(5)

                                  address  year  ...        income  label
41413  19snqSYnDSC4mDbv3pJuYgYqm5ctqwAxnm  2011  ...  5.000000e+09     28
41414  1FeGY25MSKtnwVNGrnbwLsecBpBYrMQ6Kx  2011  ...  5.000000e+09     28
41415  1A1nkBK7tfnVRtVbyiirEWRcayQtSTBCsW  2011  ...  9.150000e+08     28
41416  18wHa1PLzoU4ToemBZn2czZbVEbyZJ2gSi  2011  ...  3.402500e+10     28
41417  188sYyuK756uEsq5LTk9tiXyJHeEjxKT5c  2011  ...  1.275100e+10     28

[5 rows x 10 columns]

In [6]:
grouped = data.groupby(data.label)
data_white = grouped.get_group(28)
grouped = data_white.groupby(data_white.year)
data_white_2011 = grouped.get_group(2011)
data_white_2012 = grouped.get_group(2012)
data_white_2013 = grouped.get_group(2013)
data_white_2014 = grouped.get_group(2014)
data_white_2015 = grouped.get_group(2015)
data_white_2016 = grouped.get_group(2016)
data_white_2017 = grouped.get_group(2017)
data_white_2018 = grouped.get_group(2018)

In [10]:
data_white_2017.label.value_counts()

28    365000
Name: label, dtype: int64

In [12]:
day = 1
counter = 0
for day in range(1,367):
    day_ctr = 0
    while data_white_2011.iloc[counter]['day'] == day:
        if day_ctr > 50:
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
            data_white_2011 = data_white_2011.drop(data_white_2011.index[counter])
        counter += 1
        day_ctr += 1

KeyboardInterrupt: ignored

In [ ]:
data_white_2011.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2011.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2012.iloc[counter]['day'] == day:
        if day_ctr > 50:
            print(counter)
            print(day_ctr)
            print(day)
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
            data_white_2012 = data_white_2012.drop(data_white_2012.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2012.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2012.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2013.iloc[counter]['day'] == day:
        if day_ctr > 50:
            print(counter)
            print(day_ctr)
            print(day)
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
            data_white_2013 = data_white_2013.drop(data_white_2013.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2013.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2013.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2014.iloc[counter]['day'] == day:
        if day_ctr > 50:
            print(counter)
            print(day_ctr)
            print(day)
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
            data_white_2014 = data_white_2014.drop(data_white_2014.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2014.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2014.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2015.iloc[counter]['day'] == day:
        if day_ctr > 50:
            print(counter)
            print(day_ctr)
            print(day)
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
            data_white_2015 = data_white_2015.drop(data_white_2015.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2015.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2015.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2016.iloc[counter]['day'] == day:
        if day_ctr > 50:
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
            data_white_2016 = data_white_2016.drop(data_white_2016.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2016.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2016.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2017.iloc[counter]['day'] == day:
        if day_ctr > 50:
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
            data_white_2017 = data_white_2017.drop(data_white_2017.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2017.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2017.csv')

In [ ]:
day = 1
counter = 0
for day in range(1,367):
    print(ctr)
    day_ctr = 0
    while data_white_2018.iloc[counter]['day'] == day:
        if day_ctr > 50:
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
            data_white_2018 = data_white_2018.drop(data_white_2018.index[counter])
        counter += 1
        day_ctr += 1

In [ ]:
data_white_2018.to_csv('/content/drive/My Drive/Bitcoin Heist/data_white_2018.csv')

In [294]:
data_white_2011.head(90)

                                  address  year  ...        income  label
41413  19snqSYnDSC4mDbv3pJuYgYqm5ctqwAxnm  2011  ...  5.000000e+09     28
41414  1FeGY25MSKtnwVNGrnbwLsecBpBYrMQ6Kx  2011  ...  5.000000e+09     28
41415  1A1nkBK7tfnVRtVbyiirEWRcayQtSTBCsW  2011  ...  9.150000e+08     28
41416  18wHa1PLzoU4ToemBZn2czZbVEbyZJ2gSi  2011  ...  3.402500e+10     28
41417  188sYyuK756uEsq5LTk9tiXyJHeEjxKT5c  2011  ...  1.275100e+10     28
...                                   ...   ...  ...           ...    ...
41904  1JYF8Xf9k3cvCifsyS7BDRU1Q9MX8cRVr5  2011  ...  3.389000e+10     28
41905  1N6qPF2SZm6To2rTGCir2z6FM2yyLEz4Pf  2011  ...  1.240100e+10     28
41906  18p4zkDFrHSkmrqBNh2qxjswhcKQaQ9ezp  2011  ...  1.310000e+08     28
41907  1B1DaeErdu22rBaV4kayevZPVA4ZbguTKz  2011  ...  3.410000e+08     28
41908  1PzN1eXLj28tE1RriDduksBTAr3exbaxCe  2011  ...  1.000000e+11     28

[90 rows x 10 columns]

In [295]:
data_white_2011.day.value_counts()

333    1002
357    1002
294    1002
272    1002
359    1002
       ...
4       472
6       446
3       396
1        79
2        73
Name: day, Length: 365, dtype: int64

In [239]:
data_white_2011.index[0]

41413

In [ ]:
# create mask for non-duplicates and groups larger than 3
mask = (data_white_2011.groupby(['day'])['label'].transform('count') <= 50) | ~data_white_2011.duplicated(['year','day'])

# filter
filtered = data_white_2011.loc[mask].drop('label', axis=1)

# reset count column
filtered['label'] = filtered.groupby(['day'])['label'].transform('label')

print(filtered)

In [123]:
filtered

                                  address  year  ...  neighbors        income
41413  19snqSYnDSC4mDbv3pJuYgYqm5ctqwAxnm  2011  ...          1  5.000000e+09
41886  16NppgM8D4cJrkX8sqpH2v8fqkWzbBZYwm  2011  ...          3  1.500000e+10
42270  1EpShei7B7bV3jKfZiXpKhe3KHeGxQMBaB  2011  ...          2  5.200000e+09
42675  17WhuuG57V4b1LsHKmQQcW8PG9exQNZ8p1  2011  ...          1  4.754000e+09
43147  1KaUsHFvo1nUPgG8QeQkvRjVXmq7AZHUdK  2011  ...          3  1.500000e+10
...                                   ...   ...  ...        ...           ...
1671   12wQZTDmA8onM3sEt4jwcvzDxnNXxD8Vza  2011  ...          3  1.058356e+08
1632   12wQZTDmA8onM3sEt4jwcvzDxnNXxD8Vza  2011  ...          4  1.591123e+08
1717   12wQZTDmA8onM3sEt4jwcvzDxnNXxD8Vza  2011  ...          4  1.101005e+08
1647   12wQZTDmA8onM3sEt4jwcvzDxnNXxD8Vza  2011  ...          2  5.286537e+07
22286  1EH7JWaGEnqjeVK1KjWPdDBzmH8TS2F2Hr  2011  ...          2  4.219222e+07

[365 rows x 9 columns]

In [118]:
print(len(mask))
print(len(filtered))

2875284
2885

In [97]:
data_white

                                    address  year  ...        income  label
41413    19snqSYnDSC4mDbv3pJuYgYqm5ctqwAxnm  2011  ...  5.000000e+09     28
41414    1FeGY25MSKtnwVNGrnbwLsecBpBYrMQ6Kx  2011  ...  5.000000e+09     28
41415    1A1nkBK7tfnVRtVbyiirEWRcayQtSTBCsW  2011  ...  9.150000e+08     28
41416    18wHa1PLzoU4ToemBZn2czZbVEbyZJ2gSi  2011  ...  3.402500e+10     28
41417    188sYyuK756uEsq5LTk9tiXyJHeEjxKT5c  2011  ...  1.275100e+10     28
...                                     ...   ...  ...           ...    ...
2916692  12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry  2018  ...  1.255809e+09     28
2916693  1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2  2018  ...  4.409699e+07     28
2916694  1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw  2018  ...  2.398267e+09     28
2916695  15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a  2018  ...  1.780427e+08     28
2916696  3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e  2018  ...  1.123500e+08     28

[2875284 rows x 10 columns]

In [66]:
N = 50
df1 = data_white[~data_white.duplicated(['year','day']) | data_white['label'].ge(N)].copy()
df1.loc[data_white['label'] < N, 'label'] = 1
print (df1)

                                    address  year  ...        income  label
41413    19snqSYnDSC4mDbv3pJuYgYqm5ctqwAxnm  2011  ...  5.000000e+09      1
41886    16NppgM8D4cJrkX8sqpH2v8fqkWzbBZYwm  2011  ...  1.500000e+10      1
42270    1EpShei7B7bV3jKfZiXpKhe3KHeGxQMBaB  2011  ...  5.200000e+09      1
42675    17WhuuG57V4b1LsHKmQQcW8PG9exQNZ8p1  2011  ...  4.754000e+09      1
43147    1KaUsHFvo1nUPgG8QeQkvRjVXmq7AZHUdK  2011  ...  1.500000e+10      1
...                                     ...   ...  ...           ...    ...
2911697  3NpiLTtn7jNpfN3RnUGG7bUj8UGXkSLYHR  2018  ...  4.468905e+07      1
2912697  3BMEXKHqHMiP3tyvzF8cNMxUe9K8YF8TKD  2018  ...  5.000000e+07      1
2913697  14VvWA6i8GXDTi17JpaZXwjpcJqa7nTfuC  2018  ...  3.188000e+07      1
2914697  1HaG1qbupxT1FYtfvavx8GbNGAx8upWd7N  2018  ...  1.608902e+08      1
2915697  3DcWQLaVzyEX2CSXjmna2rv1HKYcHwaTS3  2018  ...  2.522068e+09      1

[2885 rows x 10 columns]

In [102]:
N = 50
data_white['label'] = data_white['label'].apply(lambda x: 1 if x > N else x)
result = pd.concat([data_white[data_white['label'].eq(1)].drop_duplicates(), data_white[data_white['label'].eq(N)]])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [103]:
result.label.value_counts()

Series([], Name: label, dtype: int64)

In [34]:
data_white_2 = data_white.drop_duplicates(subset=['year','day'], keep="first")

In [46]:
print(len(data_white_2))
print(len(data_white))

2885
2875284

In [25]:
data_2011_2 = data_2011.drop_duplicates(subset=['year','day'], keep="first", )]

In [27]:
data_2011_2.label.value_counts()

white                   315
montrealCryptoLocker     50
Name: label, dtype: int64

In [24]:
data_2011.label.value_counts()

white                   355284
montrealCryptoLocker        65
Name: label, dtype: int64

In [6]:
print('No. of Target Variables: ',data.label.nunique())
print('\nValue Counts of Target Label:\n',data.label.value_counts())

No. of Target Variables:  29

Value Counts of Target Label:
 white                          2875284
paduaCryptoWall                  12390
montrealCryptoLocker              9315
princetonCerber                   9223
princetonLocky                    6625
montrealCryptXXX                  2419
montrealNoobCrypt                  483
montrealDMALockerv3                354
montrealDMALocker                  251
montrealSamSam                      62
montrealGlobeImposter               55
montrealCryptoTorLocker2015         55
montrealGlobev3                     34
montrealGlobe                       32
montrealWannaCry                    28
montrealRazy                        13
montrealAPT                         11
paduaKeRanger                       10
montrealFlyper                       9
montrealXTPLocker                    8
montrealCryptConsole                 7
montrealXLockerv5.0                  7
montrealVenusLocker                  7
montrealEDA2                         6
montrealJigSaw                       4
paduaJigsaw                          2
montrealSam                          1
montrealComradeCircle                1
montrealXLocker                      1
Name: label, dtype: int64