In [4]:
# Mount the drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
%cd /content/drive/My Drive/Colab Notebooks/

/content/drive/My Drive/Colab Notebooks

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
data = pd.read_csv('/content/drive/My Drive/Bitcoin_dataset/final_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data

        Unnamed: 0  ...            label
0                0  ...  princetonCerber
1                1  ...   princetonLocky
2                2  ...  princetonCerber
3                3  ...  princetonCerber
4                4  ...   princetonLocky
...            ...  ...              ...
315195      315195  ...               28
315196      315196  ...               28
315197      315197  ...               28
315198      315198  ...               28
315199      315199  ...               28

[315200 rows x 11 columns]

In [7]:
data = data.drop(['address','Unnamed: 0'],axis = 1)

In [ ]:
data

        year  day  length  ...  neighbors        income            label
0       2017   11      18  ...          2  1.000500e+08  princetonCerber
1       2016  132      44  ...          1  1.000000e+08   princetonLocky
2       2016  246       0  ...          2  2.000000e+08  princetonCerber
3       2016  322      72  ...          2  7.120000e+07  princetonCerber
4       2016  238     144  ...          1  2.000000e+08   princetonLocky
...      ...  ...     ...  ...        ...           ...              ...
315195  2018  330       0  ...          2  2.503180e+09               28
315196  2018  330       0  ...          2  1.000000e+09               28
315197  2018  330       6  ...          1  3.000000e+08               28
315198  2018  330       0  ...          2  1.372746e+09               28
315199  2018  330       6  ...          2  2.397816e+09               28

[315200 rows x 9 columns]

In [3]:
data['label']

0         princetonCerber
1          princetonLocky
2         princetonCerber
3         princetonCerber
4          princetonLocky
               ...
315195                 28
315196                 28
315197                 28
315198                 28
315199                 28
Name: label, Length: 315200, dtype: object

In [8]:
data["label"]= data["label"].replace(28, "white")

In [9]:
data["label"]= data["label"].replace('28', "white")

In [ ]:
data.label.unique()

array(['princetonCerber', 'princetonLocky', 'montrealCryptoLocker',
       'montrealCryptXXX', 'paduaCryptoWall', 'montrealWannaCry',
       'montrealDMALockerv3', 'montrealCryptoTorLocker2015',
       'montrealSamSam', 'montrealFlyper', 'montrealNoobCrypt',
       'montrealDMALocker', 'montrealGlobe', 'montrealEDA2',
       'paduaKeRanger', 'montrealVenusLocker', 'montrealXTPLocker',
       'paduaJigsaw', 'montrealGlobev3', 'montrealJigSaw',
       'montrealXLockerv5.0', 'montrealXLocker', 'montrealRazy',
       'montrealCryptConsole', 'montrealGlobeImposter', 'montrealSam',
       'montrealComradeCircle', 'montrealAPT', 'white'], dtype=object)

In [ ]:
data

        year  day  length  ...  neighbors        income            label
0       2017   11      18  ...          2  1.000500e+08  princetonCerber
1       2016  132      44  ...          1  1.000000e+08   princetonLocky
2       2016  246       0  ...          2  2.000000e+08  princetonCerber
3       2016  322      72  ...          2  7.120000e+07  princetonCerber
4       2016  238     144  ...          1  2.000000e+08   princetonLocky
...      ...  ...     ...  ...        ...           ...              ...
315195  2018  330       0  ...          2  2.503180e+09            white
315196  2018  330       0  ...          2  1.000000e+09            white
315197  2018  330       6  ...          1  3.000000e+08            white
315198  2018  330       0  ...          2  1.372746e+09            white
315199  2018  330       6  ...          2  2.397816e+09            white

[315200 rows x 9 columns]

In [ ]:
data.label.value_counts()

white                          232374
paduaCryptoWall                 24780
montrealCryptoLocker            18630
princetonCerber                 18446
princetonLocky                  13250
montrealCryptXXX                 4838
montrealNoobCrypt                 966
montrealDMALockerv3               708
montrealDMALocker                 502
montrealSamSam                    124
montrealGlobeImposter             110
montrealCryptoTorLocker2015       110
montrealGlobev3                    68
montrealGlobe                      64
montrealWannaCry                   56
montrealRazy                       26
montrealAPT                        22
paduaKeRanger                      20
montrealFlyper                     18
montrealXTPLocker                  16
montrealXLockerv5.0                14
montrealVenusLocker                14
montrealCryptConsole               14
montrealEDA2                       12
montrealJigSaw                      8
paduaJigsaw                         4
montrealComradeCircle               2
montrealSam                         2
montrealXLocker                     2
Name: label, dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['label'] = le.fit_transform(data['label'])
data['label'].unique()

array([26, 27,  4,  3, 23, 19,  7,  5, 17,  9, 14,  6, 10,  8, 25, 18, 22,
       24, 12, 13, 21, 20, 15,  2, 11, 16,  1,  0, 28])

In [11]:
le.classes_

array(['montrealAPT', 'montrealComradeCircle', 'montrealCryptConsole',
       'montrealCryptXXX', 'montrealCryptoLocker',
       'montrealCryptoTorLocker2015', 'montrealDMALocker',
       'montrealDMALockerv3', 'montrealEDA2', 'montrealFlyper',
       'montrealGlobe', 'montrealGlobeImposter', 'montrealGlobev3',
       'montrealJigSaw', 'montrealNoobCrypt', 'montrealRazy',
       'montrealSam', 'montrealSamSam', 'montrealVenusLocker',
       'montrealWannaCry', 'montrealXLocker', 'montrealXLockerv5.0',
       'montrealXTPLocker', 'paduaCryptoWall', 'paduaJigsaw',
       'paduaKeRanger', 'princetonCerber', 'princetonLocky', 'white'],
      dtype=object)

In [11]:
X = data.loc[:, data.columns != 'label']
y = data['label']

In [ ]:
print(X)

        year  day  length    weight  count  looped  neighbors        income
0       2017   11      18  0.008333      1       0          2  1.000500e+08
1       2016  132      44  0.000244      1       0          1  1.000000e+08
2       2016  246       0  1.000000      1       0          2  2.000000e+08
3       2016  322      72  0.003906      1       0          2  7.120000e+07
4       2016  238     144  0.072848    456       0          1  2.000000e+08
...      ...  ...     ...       ...    ...     ...        ...           ...
315195  2018  330       0  0.111111      1       0          2  2.503180e+09
315196  2018  330       0  0.500000      1       0          2  1.000000e+09
315197  2018  330       6  0.020092      2       0          1  3.000000e+08
315198  2018  330       0  0.333333      1       0          2  1.372746e+09
315199  2018  330       6  1.000000      1       0          2  2.397816e+09

[315200 rows x 8 columns]

In [ ]:
print(y)

0         26
1         27
2         26
3         26
4         27
          ..
315195    28
315196    28
315197    28
315198    28
315199    28
Name: label, Length: 315200, dtype: int64

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [ ]:
print(X)

[[ 1.16855767 -1.65291969 -0.44401279 ... -0.23098257 -0.01326959
  -0.02212009]
 [ 0.68743984 -0.46555324 -0.00258537 ... -0.23098257 -0.12666455
  -0.02212043]
 [ 0.68743984  0.65312259 -0.74961638 ... -0.23098257 -0.01326959
  -0.02144322]
 ...
 [ 1.6496755   1.47741004 -0.64774852 ... -0.23098257 -0.12666455
  -0.02076601]
 [ 1.6496755   1.47741004 -0.74961638 ... -0.23098257 -0.01326959
  -0.01350126]
 [ 1.6496755   1.47741004 -0.64774852 ... -0.23098257 -0.01326959
  -0.00655938]]

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2, random_state = 1,stratify = y)

In [21]:
print(len(X_train))
print(len(X_test))
print(len(y_train))
print(len(y_test))

252160
63040
252160
63040

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier(max_features='log2',min_samples_split=3)
model.fit(X_train, y_train)

In [ ]:
# make predictions
predictions = model.predict(X_test)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, y_test)))

In [ ]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, predictions)
print(acc)

In [20]:
from sklearn.model_selection import GridSearchCV,StratifiedKFold
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()

parameters = {'bootstrap':[True,False], # false shows best accuracy
              'ccp_alpha':[0.0], #default value
              'class_weight':[None], #default value
             'max_depth':[None],      #default value        
             'max_features':['log2','auto'], #log2 91.77
              'max_leaf_nodes':[None], #default value
              'max_samples':[None], #default value
              'min_impurity_decrease':[0.0], #default value
              'min_samples_split':[1,2,3,4],  #2->4->3
              'min_weight_fraction_leaf':[0.0,0.2,0.5] #default value
              'random_state':[0,42] #default value (only set if bootstrap true)
              'max_samples':[0.1,0.7,0.5,2,3,4] #default value (only set if bootstrap true)
              }
              


clf = GridSearchCV(model, parameters,
                   cv=StratifiedKFold(n_splits=4), 
                   scoring='accuracy',
                   verbose=2, refit=True)

clf.fit(X_train,y_train)

Fitting 4 folds for each of 2 candidates, totalling 8 fits
[CV] bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=4.
  % (min_groups, self.n_splits)), UserWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0, total=  20.2s
[CV] bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   20.2s remaining:    0.0s

[CV]  bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0, total=  17.5s
[CV] bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0
[CV]  bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0, total=  17.8s
[CV] bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0
[CV]  bootstrap=True, max_features=log2, max_samples=0.9, min_samples_split=3, random_state=0, total=  17.5s
[CV] bootstrap=False, max_features=log2, min_samples_split=3 .........
[CV]  bootstrap=False, max_features=log2, min_samples_split=3, total=  24.9s
[CV] bootstrap=False, max_features=log2, min_samples_split=3 .........
[CV]  bootstrap=False, max_features=log2, min_samples_split=3, total=  23.9s
[CV] bootstrap=False, max_features=log2, min_samples_split=3 .........
[CV]  bootstrap=False, max_features=log2, min_samples_split=3, total=  23.9s
[CV] bootstrap=False, max_features=log2, min_samples_split=3 .........
[CV]  bootstrap=False, max_features=log2, min_samples_split=3, total=  24.0s

[Parallel(n_jobs=1)]: Done   8 out of   8 | elapsed:  2.9min finished

GridSearchCV(cv=StratifiedKFold(n_splits=4, random_state=None, shuffle=False),
             error_score=nan,
             estimator=ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                                            class_weight=None, criterion='gini',
                                            max_depth=None, max_features='auto',
                                            max_leaf_nodes=None,
                                            max_samples=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            m...
                                            oob_score=False, random_state=None,
                                            verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid=[{'bootstrap': [True], 'max_features': ['log2'],
                          'max_samples': [0.9], 'min_samples_split': [3],
                          'random_state': [0]},
                         {'bootstrap': [False], 'max_features': ['log2'],
                          'min_samples_split': [3]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=2)

In [21]:
print(clf.best_score_)
print(clf.best_params_)

0.9253291560913706
{'bootstrap': False, 'max_features': 'log2', 'min_samples_split': 3}

max depth: 1
max leaf nodes :10/4/2
n_estimators:50/10/1